<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper SYSTEM "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.atguigu.gmall2019.dw.publisher.mapper.DauMapper">
    <select id="getDauTotal" resultType="java.lang.Long">
        select count(*) cnt from gmall2019_dau where logdate=#{date}
    </select>

    <select id="getDauHourCount" resultMap="hourMap">
        select loghour, count(*) cnt from gmall2019_dau where logdate=#{date}
        group by loghour
    </select>

<!--    autoMapping 自动命名， 数据库字段名称是什么，映射成的Java的map的key就是什么，value就为key下对应的值-->
    <resultMap id="hourMap" type="java.util.Map" autoMapping="true">
    <!--  手动重命名      -->
<!--        <result column="LOGHOUR" property="lohHour"></result>-->
<!--        <result column="CNT" property="cnt"></result>-->
    </resultMap>

</mapper>
